<section id="why-us" class="why-us">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title">
        <h2>Blog</h2>
        <p>Our blog stories</p>
      </div>

      <div class="row">

        <div class="col-lg-4 cur">
          <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Lorem Ipsum</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0 cur">
          <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200" [routerLink]="['/blogpostpage']">
            <span>02</span>
            <h4>Repellat Nihil</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0 cur">
          <div class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Ad ad velit qui</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>
      <div class="mb-5"></div>
      <div class="text-center"><button type="submit" class="show-more" [routerLink]="['/blogposts']">Show More</button></div>

    </div>
  </section>