<section id="why-us" class="why-us">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title">
        <h2>Blog</h2>
        <p>Our blog stories</p>
      </div>

      <div class="row">

        <div class="col-lg-4 cur" *ngFor="let b of bData; index as i" (click)="navPost(b)">
          <div *ngIf="i<=2" class="box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100"  [ngStyle]="{'background-image': 'url(' + b.header_image + ')'}">
            <span>{{b.industry}}</span>
            <h4>{{b.subject}}</h4>
            <p>{{b.content_writer}}</p>
          </div>
        </div>

      </div>
      <div class="mb-5"></div>
      <div class="text-center"><button type="submit" class="show-more" [routerLink]="['/blogposts']">Show More</button></div>

    </div>
  </section>