<div class="container">
    <div id="reviews" class="review-section">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0">{{views.length}} Reviews</h4>
        </div>
    </div>

    <div class="review-list">
        <ul *ngFor="let r of views">
            <li>
                <div class="d-flex">
                    <div class="left">
                        <span>
                            <img src="{{r.profile_pic}}"
                                class="profile-pict-img img-fluid" alt="" />
                        </span>
                    </div>
                    <div class="right">
                        <h4>
                            {{r.name}}
                            <span class="gig-rating text-body-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                    <path fill="currentColor"
                                        d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                    </path>
                                </svg>
                                {{r.rating}}
                            </span>
                        </h4>
                        <!-- <div class="country d-flex align-items-center">
                            <span>
                                <img class="country-flag img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" />
                            </span>
                            <div class="country-name font-accent">India</div>
                        </div> -->
                        <div class="review-description">
                            <p>
                                {{r.comment}}
                            </p>
                        </div>
                        <span class="publish py-3 d-inline-block w-100">Published on {{r.created_date}}</span>
                        
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>