
<section class="feature_area section_gap_top">
    <div class="container container-width">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Top categories</h2>
                    <p>
                        Choose the suitable category and grow in your field
                    </p>
                </div>
            </div>
        </div>

            <div class="row portfolio justify-content-center">
    <div class="col-lg-4 col-md-6 portfolio-item filter-web" *ngFor="let c of categories">
        <div class="portfolio-wrap" style="height: 80%;">
          <img src="{{c.country_pic}}" class="w-100 card-img-top" alt="">
          <div class="portfolio-info">
            <h4>{{c.country}}</h4>
            <p>{{location}}</p>
            <div class="portfolio-links">
              <a [routerLink]="['/consultancyinfo', c.id]" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>
    </div>
</section>