<div class="course-banner">
    <div class="container-fluid">
      <div class="inner-panel">
        <div class="row">
          <div class="col-sm-9"> 
            <div class="action-module">
              <a href="programs.html" class="btn btn-register"> Register Now</a>
              <label for="courseCheck" class="checkbox notice-box">
                <span>
                  <input type="checkbox" name="i_agreed" id="courseCheck">
                </span>
                I would like to receive email from iTalgo and learn about other offerings related to Big Data.
              </label>
              <div class="rating">
                <i>Rating :</i>
                <span style="margin-left:11px;">
                    <i class="bi bi-star istar" style="color: #fff;"></i>
                    <i class="bi bi-star istar" style="color: #fff;"></i>
                    <i class="bi bi-star istar" style="color: #fff;"></i>
                    <i class="bi bi-star istar" style="color: #fff;"></i>
                </span>
              </div>
            </div>
            <div class="course-overview">
              <h3 class="course-title">Learn Big Data</h3>
              <p>The program has been co-created and delivered by senior industry professionals. The curriculum will help you get a visceral understanding of the entire data value chain - the flow of information from inception to analysis to insight - that is essential to drawing insights from big data.</p>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="video-link">
              <a class="html5lightbox" title="Video Gallery" href="https://youtu.be/P_fN0GTzWOw"><i class="fa fa-video-camera" aria-hidden="true" style="opacity:1;font-size: 20px;color: black;background:white;padding: 10px;"></i>
              </a>
            </div>
          </div>
        </div>
      </div>      
        <!-- <div class="row">
          <div class="col-md-8 col-lg-8">
            <ul class="nav nav-pills mb-3 shadow-sm d-flex justify-content-around" id="pills-tab" role="tablist">
              <li class="nav-item" *ngFor="let t of tabs; index as i" (click)="tabClick(i)"> <a class="nav-link" [ngClass]="{'active': t.title === currentTab}" id="pills-home-tab">{{t.title}}</a> </li>
          </ul>
          </div>
          
          <div class="col-md-4 col-lg-3">
            <h4>A$30.50</h4>
          </div>
        </div>       -->
    </div>
  </div>

  <section class="master-nav" id="master-second-nav">
    <div class="container">
    <nav id="master-nav-wrapper">
    <ul id="master-nav-list">
    <li class="active">
    <a href="#pg-about-section" data-scroll="pg-about-section">About</a>
    </li>
    <li class="">
      <a href="#curriculum-section" data-scroll="curriculum-section">Curriculum</a>
      </li>
    <li class="">
    <a href="#pg-mentor-section" data-scroll="pg-mentor-section">Mentors</a>
    </li>
    <li class="">
    <a href="#master-project-work-section" data-scroll="master-project-work-section">Projects</a>
    </li>
    <li>
    <a data-toggle="modal" data-target="#pg-apply-popup" id="ms-cf-select-country" class="master-nav-enroll-btn">Apply Now</a>
    </li>
    </ul>
    </nav>
    </div>
    </section>