<section id="master-about-section">
    <div class="container">
    <h2>Who Can <b>Apply for the Course?</b></h2>
    <div class="who-can-apply-wrapper">
    <div class="row align-items-center">
    <div class="col-lg-8 who-can-apply-content">
    <ul>
    <li style="font-weight: 400;" aria-level="1" *ngFor="let e of eligibilities.eligibilities"><strong>{{e}}</strong></li>
    </ul>
    </div>
    <div class="col-lg-4 d-none d-lg-block">
    <img src="https://intellipaat.com/course-image/2020/08/who-can-apply.png" alt="Who can aaply" class="img-fluid lazyloaded" data-ll-status="loaded"><noscript><img src="https://intellipaat.com/course-image/2020/08/who-can-apply.png" alt="Who can aaply" class="img-fluid" /></noscript>
    </div>
    </div>
    </div>
    <h2 *ngIf="showRoles">What roles can a <b>{{course.course_name}}</b> play?</h2>
    <div class="what-role-section" *ngIf="showRoles">
    <div class="what-role-first-section">
    <div class="row">
    <div class="col-lg-4 col-md-6 vk-role-list" *ngFor="let j of jobs.roles">
    <div class="what-role-first-list">
    <h3>{{j.role}}</h3>
    <p class="m-0"></p><p>{{j.responsibilities}}</p>
    <p></p>
    </div>
    </div>
    </div>
    </div>   
    </div>
    </div>
    </section>