#master-about-section {
    padding: 70px 0;
}

#master-about-section h2 {
    font-size: 30px;
    line-height: 41px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
}

.who-can-apply-wrapper {
    background: #fff;
    box-shadow: 0 2px 16px rgb(0 0 0/8%);
    border-radius: 4px;
    margin-bottom: 80px
}

.who-can-apply-content ul {
    padding: 10px 0 10px 30px
}

.who-can-apply-content ul li {
    font-weight: 600;
    font-size: 15px;
    line-height: 35px;
    color: #000;
    position: relative;
    padding-left: 27px
}

.who-can-apply-content ul li:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(/assets/images/check-circle.svg);
    top: 10px;
    left: 0
}

.mob-view-more-btn {
    color: #1289ee;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 10px;
    cursor: pointer
}

.what-role-section {
    background: #fff;
    box-shadow: 0 2px 16px rgba(0,0,0,.08),inset 0 3px 0 #6659b8;
    border-radius: 4px;
    padding: 40px 40px 20px
}

.what-role-first-section {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 40px
}

.what-role-first-section .col-lg-4 {
    margin-bottom: 40px;
    position: relative
}

.what-role-first-section .col-lg-4:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #6659b8;
    border-radius: 100px;
    left: 15px
}

.what-role-images-max-height {
    height: 270px;
    overflow: hidden
}

.what-role-first-list {
    padding-left: 15px
}

.what-role-first-list h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #000
}

.what-role-first-list p {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    padding-right: 40px
}

.what-role-skill-to-master-section {
    margin-bottom: 20px
}

.what-role-skill-to-master-section h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-bottom: 20px
}

.what-role-skill-to-master-max-height {
    height: 65px;
    overflow: hidden
}

.what-role-skill-to-master-items {
    margin-bottom: 15px
}

.what-role-skill-to-master-items p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    padding: 15px;
    text-align: center;
    border-radius: 0;
    background: #fff;
    border: 1px solid rgba(114,157,245,.2);
    margin-bottom: 5px
}

.what-role-skill-to-master-wrapper .what-role-skill-to-master-items:nth-child(5n+1) p {
    box-shadow: 0 2px 4px rgba(0,0,0,.2),inset 4px 0 0 #6659b8
}

.what-role-skill-to-master-wrapper .what-role-skill-to-master-items:nth-child(5n+2) p {
    box-shadow: 0 2px 4px rgba(0,0,0,.2),inset 4px 0 0 #6659b8
}

.what-role-skill-to-master-wrapper .what-role-skill-to-master-items:nth-child(5n+3) p {
    box-shadow: 0 2px 4px rgba(0,0,0,.2),inset 4px 0 0 #6659b8
}

.what-role-skill-to-master-wrapper .what-role-skill-to-master-items:nth-child(5n+4) p {
    box-shadow: 0 2px 4px rgba(0,0,0,.2),inset 4px 0 0 #6659b8
}

.what-role-skill-to-master-wrapper .what-role-skill-to-master-items:nth-child(5n+5) p {
    box-shadow: 0 2px 4px rgba(0,0,0,.2),inset 4px 0 0 #6659b8
}