<section id="master-about-section">
    <div class="container">
    <h2>Who Can <b>Apply for the Course?</b></h2>
    <div class="who-can-apply-wrapper">
    <div class="row align-items-center">
    <div class="col-lg-8 who-can-apply-content">
    <ul>
    <li style="font-weight: 400;" aria-level="1"><strong>Individuals with a bachelor’s degree and a keen interest to learn AI and Data Science</strong></li>
    <li style="font-weight: 400;" aria-level="1"><strong>IT professionals looking for a career transition as Data Scientists and Artificial Intelligence Engineers</strong></li>
    <li style="font-weight: 400;" aria-level="1"><strong>Professionals aiming to move ahead in their IT career</strong></li>
    <li style="font-weight: 400;" aria-level="1"><strong>Artificial Intelligence and Business Intelligence professionals</strong></li>
    <li style="font-weight: 400;" aria-level="1"><strong>Developers and Project Managers</strong></li>
    <li style="font-weight: 400;" aria-level="1"><strong>Freshers who aspire to build their career in the field of Artificial Intelligence and Data Science</strong></li>
    </ul>
    </div>
    <div class="col-lg-4 d-none d-lg-block">
    <img src="https://intellipaat.com/course-image/2020/08/who-can-apply.png" alt="Who can aaply" class="img-fluid lazyloaded" data-ll-status="loaded"><noscript><img src="https://intellipaat.com/course-image/2020/08/who-can-apply.png" alt="Who can aaply" class="img-fluid" /></noscript>
    </div>
    </div>
    </div>
    <h2>What roles can a <b>Data Science &amp; Artificial Intelligence</b> play?</h2>
    <div class="what-role-section">
    <div class="what-role-first-section">
    <div class="row">
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>Senior Data Scientist</h3>
    <p class="m-0"></p><p>Understand the issues and create models based on the data gathered, and also manage a team of Data Scientists.</p>
    <p></p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>AI Expert</h3>
    <p class="m-0"></p><p>Build strategies on frameworks and technologies to develop AI solutions and help the organization prosper.</p>
    <p></p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>Machine Learning Expert</h3>
    <p class="m-0"></p><p>With the help of several Machine Learning tools and technologies, build statistical models with huge chunks of business data.</p>
    <p></p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>Applied Scientist</h3>
    <p class="m-0"></p><p>Design and build Machine Learning models to derive intelligence for the numerous services and products offered by the organization.</p>
    <p></p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>Big Data Specialist</h3>
    <p class="m-0"></p><p>Create and manage pluggable service-based frameworks that are customized in order to import, cleanse, transform, and validate data.</p>
    <p></p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 vk-role-list">
    <div class="what-role-first-list">
    <h3>Senior Business Analyst</h3>
    <p class="m-0"></p><p>Extract data from the respective sources to perform business analysis, and generate reports, dashboards, and metrics to monitor the company’s performance.</p>
    <p></p>
    </div>
    </div>
    </div>
    <div class="mob-view-more-btn vk-mob-view-add mb-2 d-none">View More</div>
    </div>
    <div class="what-role-skill-to-master-section">
    <h3>Skills to Master</h3>
    <div class="what-role-skill-to-master-wrapper row what-role-skill-to-master-max-height">
    <div class="what-role-skill-to-master-items items1 col-md-4 col-sm-6">
    <p class="m-0">Python</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">Data Science</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">Data Analysis</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">AI</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">GIT</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">MLOps</p>
    </div>
    <div class="what-role-skill-to-master-items items3 col-md-4 col-sm-6">
    <p class="m-0">Data Wrangling</p>
    </div>
    <div class="what-role-skill-to-master-items items4 col-md-4 col-sm-6">
    <p class="m-0">SQL</p>
    </div>
    <div class="what-role-skill-to-master-items items5 col-md-4 col-sm-6">
    <p class="m-0">Story Telling</p>
    </div>
    <div class="what-role-skill-to-master-items items1 col-md-4 col-sm-6">
    <p class="m-0">Machine Learning</p>
    </div>
    <div class="what-role-skill-to-master-items items2 col-md-4 col-sm-6">
    <p class="m-0">Prediction algorithms</p>
    </div>
    <div class="what-role-skill-to-master-items items4 col-md-4 col-sm-6">
    <p class="m-0">NLP</p>
    </div>
    <div class="what-role-skill-to-master-items items5 col-md-4 col-sm-6">
    <p class="m-0">PySpark</p>
    </div>
    <div class="what-role-skill-to-master-items items4 col-md-4 col-sm-6">
    <p class="m-0">Model</p>
    </div>
    <div class="what-role-skill-to-master-items items4 col-md-4 col-sm-6">
    <p class="m-0">Data visualization</p>
    </div>
    </div>
    <div class="mob-view-more-btn mb-2">View More</div>
    </div>
    
    </div>
    </div>
    </section>