<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 entries">
            <article class="entry" *ngFor="let b of blogPosts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">

              <div class="entry-img">
                <img src="{{b.header_image}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a  (click)="navBlog(i, b)">{{b.subject}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="">{{b.content_writer}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href=""><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="">12 Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                 {{b.sampleText}}
                </p>
                <div class="read-more">
                  <a (click)="navBlog(i)">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

            
              <div class="pagination justify-content-center">
                <ngb-pagination [pageSize] = "2" [collectionSize]="blogPosts.length" [(page)]="page" [directionLinks]="false"></ngb-pagination>
              </div>
            

          </div>
          <!-- End blog entries list -->
<!-- 
          <div class="col-lg-4">
          </div> -->
          <!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main>