.btn-primary-custom {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-outline-primary-custom {
    color: #000000;
    border-color: #000000;
}

.btn-outline-primary-custom:hover{
    color: #fff;
    border-color: #000000;
     background-color: #000000;
}