<section id="home-explore-course">
    <div class="container">
        <h2>
            Explore Our Programs 
        </h2>
        <div class="d-none d-md-block">

            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="home-explore-course-tab-wrap">

                        <div class="nav flex-column nav-pills" id="explore-course-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" *ngFor="let val of learnings; index as i" id="explore-course-tab-{{i}}" data-toggle="pill" (click)="openCourse(val)" role="tab" aria-controls="explore-course-{{i}}" aria-selected="false">
                            {{val.name}} <i class="cat-nav-icon"></i>
                            </a>
                            </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content" id="explore-course-tabContent">
                        <div class="tab-pane fade show active" id="explore-course-1" role="tabpanel" aria-labelledby="explore-course-tab-1">
                           

                            <div class="row">
                                <div class="col-lg-4 col-md-6" *ngFor="let item of courses">
                                <div class="home-explore-course-card-wrap home-explore-course-card-hover">
                                <a class="home-explore-course-card">
                                <img src="{{item.course_pic}}" alt="intellipaat" class="img-fluid lazyloaded" data-ll-status="loaded"><noscript><img src="{{item.course_pic}}" alt="intellipaat" class="img-fluid" /></noscript>
                                </a>
                                <div class="home-explore-course-card-content">
                                <h4><a>{{item.course_name}}</a></h4>
                                <div class="home-explore-course-next-cohort">
                                Next Cohort: <span>{{item.next_cohort}}</span>
                                </div>
                                <div class="home-explore-course-months">
                                <i class="home-calendar-icon"></i>
                                {{item.duration}} </div>
                                <div class="home-explore-course-collaboration-image">
                                <img src="{{item.course_pic}}" class="img-fluid lazyloaded" alt="intellipaat" data-ll-status="loaded"><noscript><img src="{{item.course_pic}}" class="img-fluid" alt="intellipaat" /></noscript>
                                </div>
                                <div class="home-explore-course-card-btn">
                                <a href="" class="home-explore-course-knwmore-btn" [routerLink]="['/courseinfo']">Know More</a>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>