
  <!-- Pricing # -->
  		<div class="pricing">
  			<div class="container">
                <div class="section-title">
                    <h2>Pricing</h2>
                    <p>Check Our Pricing List</p>
                  </div>
  				<div class="pricing-table table-responsive">
  					<table class="table">
  						<!-- Heading -->
  						<thead>
  							<tr>
                  <th>&nbsp;</th>
                  <th>
  									Course
                  </th>
  								<th>
  									Features
                  </th>
                  <th>
  									Price
                  </th>
  							</tr>
  						</thead>
  						<tbody>
  							<tr>
  								<td><span class="ptable-title"><i class="fa fa-hdd-o"></i> one time</span></td>
  								<td *ngFor="let x of Object.keys(priceList['one time'])">
                    <div *ngIf="x == 'course'">
                      <i class="fa fa-hdd-o green"></i>
                      {{priceList['one time'][x]}}
                    </div>
                          <div *ngIf ="x == 'features'">
                                        <i class="fa fa-hdd-o red"></i>
                                        {{priceList['one time'][x]}}
                                      </div>
                                      <div *ngIf="x == 'price'">
                                        <i class="fa fa-hdd-o green"></i>
                                        ${{priceList['one time'][x]}}
                                      </div>
                                  </td>
                              </tr>
                            <tr>
                                <td><span class="ptable-title"><i class="fa fa-hdd-o"></i>static</span></td>
                                <td *ngFor="let x of Object.keys(priceList['static'])">
                                  <div *ngIf="x == 'course'">
                                    <i class="fa fa-hdd-o green"></i>
                                    {{priceList['static'][x]}}
                                  </div>
                                  <div *ngIf ="x == 'features'">
                                                      <i class="fa fa-hdd-o red"></i>
                                                     {{priceList['static'][x]}}
                                                    </div>
                                                    <div *ngIf="x == 'price'">
                                                      <i class="fa fa-hdd-o green"></i>
                                                      ${{priceList['static'][x]}}
                                                    </div>
                                                    
                                                </td>
                            </tr>
                            <tr>
                              <td><span class="ptable-title"><i class="fa fa-hdd-o"></i>Dynamic</span></td>
                              <td *ngFor="let x of Object.keys(priceList['dynamic'])">
                                <div *ngIf="x == 'course'">
                                  <i class="fa fa-hdd-o green"></i>
                                  {{priceList['dynamic'][x]}}
                                </div>
                                <div *ngIf ="x == 'features'">
                                                    <i class="fa fa-hdd-o red"></i>
                                                    {{priceList['dynamic'][x]}}
                                                  </div>
                                                  <div *ngIf="x == 'price'">
                                                    <i class="fa fa-hdd-o green"></i>
                                                    ${{priceList['dynamic'][x]}}
                                                  </div>
                                              </td>
                          </tr>
  							<tr>
  								<td><span class="ptable-title"><i class="fa fa-headphones"></i> Support</span></td>
  								<td>
  									<i class="fa fa-times red"></i>
  									No Support
  								</td>
  								<td>
  									<i class="fa fa-phone green"></i>
  									Phone
  								</td>
  								<td>
  									<i class="fa fa-envelope-o lblue"></i>
  									E-mail / Phone
  								</td>
  							</tr>
  							<!-- Buttons -->
  							<tr>
                  <td>&nbsp;</td>
                  <td>
                    <div class="btn-wrap">
                      <a  class="btn-buy">Sign up</a>
                    </div>
                  </td>
                  <td>
                    <div class="btn-wrap">
                      <a  class="btn-buy">Sign up</a>
                    </div>
                  </td>

                  <td>
                    <div class="btn-wrap">
                      <a  class="btn-buy">Sign up</a>
                    </div>
                  </td>
  								<!-- <td class="bg-red"><a class="btn" href="#">Sign Up</a></td>
  								<td class="bg-green"><a class="btn" href="#">Sign Up</a></td>
  								<td class="bg-lblue"><a class="btn" href="#">Sign Up</a></td> -->
  							</tr>
  						</tbody>
  					</table>
  				</div>
  			</div>
  		</div>
